h1  {
    color: red;}
img {
    width: 400px; 
    height: 245px;}
#thirdDiv {
    height: 500px;  
    width: 600px; 
    background-color:red; 
    padding: 50px;
    border: 5px solid black;}
#spanId {
    font-size: 18px; 
    margin: 50px;}            
